/* css generale */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/wood.jpg");
  font-family: 'Raleway', sans-serif;
}
main{
  padding: 1% 15%;
}
/* css header */
    /* css title */
  .title-box {
    height: 200px;
    position: relative;
    background-image: url("../img/forest.jpg");
    background-position: center;
    border: 5px solid white;}

  .layover {
        position: absolute;
          height: 100%;
          width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

  .title {
      color: white;
      font-size: 20px;
      position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
  }
  .title h1 {
    text-align: center;
  }
  .title h3 {
    font-weight: 300;
  }
  /* css navbar */
  nav{
    background-color: #504741;
    height: 40px;
    margin-bottom: 10px;

  }
  nav ul {
    width: 100%;
    text-align: center;
    line-height: 40px;
    }

  nav li {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    /* debug */
    border-left: inset 1px black;
    border-right: inset 1px black;
  }

  nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

 /* css main box */
.main-box::after{
  content: "";
  display: table;
  clear: both;
}

.center, .side-l, .side-r section {
  padding: 15px;
  border-radius: 2%;

}
aside {
  float: left;
  width: 20%;
}
.main-box h2, .main-box h3 {
  padding-bottom: 20px;
  color: #504741;
  text-shadow: 2px 2px #E5E5E5;
}


  /* css left side */
  .side-l{
    /* debug */
    height: 400px;
    background-color: white;
  }

  .side-l ul {
  list-style-type: none;
  }


  .side-l a {
    text-decoration: none;
    color: #669900;

  }

  /* css right side */
  .side-r section {
    background-color: white;
    margin-bottom: 20px;
  }

  /* css center */
  .center {
  float: left;
  width: 54%;
  margin: 0 3%;
  background-color: white;
  }


/* css footer */
footer
{
  height: 200px;
  margin-top: 10px;
  background-color: white;
  border-radius: 3px;
}
