/* css generale */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/wood.jpg");
  font-family: 'Raleway', sans-serif;
}
main{
  padding: 1% 15%;
}
/* css header */
    /* css title */
  .title-box {
    height: 200px;
    position: relative;
    background-image: url("../img/forest.jpg");
    background-position: center;
    border: 5px solid white;}

  .layover {
        position: absolute;
          height: 100%;
          width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

  .title {
      color: white;
      font-size: 20px;
      position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
  }
  .title h1 {
    text-align: center;
  }
  .title h3 {
    font-weight: 400;
    color: rgba(255,255,255,0.8)
  }
  /* css navbar */
  nav{
    background-color: #504741;
    height: 40px;
    margin-bottom: 10px;

  }
  nav ul {
    width: 100%;
    text-align: center;
    line-height: 40px;
    }

  nav li {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    border-left: inset 2px transparent;
    border-right: inset 2px transparent;
  }

  nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
  }

  nav li:hover {
    background-color: #302b27;
    border-right: 1px solid rgba(0, 0, 0, .4);
    border-left: 1px solid rgba(0, 0, 0, .4);
  }

 /* css main box */
.main-box::after{
  content: "";
  display: table;
  clear: both;
}

.center, .side-l, .side-r section, footer {
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.4);

}
aside {
  float: left;
  width: 20%;
}

.main-box h2, .main-box h3 {
  padding-bottom: 20px;
  color: #504741;
  text-shadow: 2px 2px #E5E5E5;
}

  /* css left side */
  .side-l ul {
  list-style-type: none;
  }

  .side-l li {
  padding: 5px 20px;
  }

  .side-l a {
    text-decoration: none;
    color: #669900;
    font-weight: 500;
  }

  .fa-rss-square {
    color: orange;
  }

  /* css right side */
  .side-r section {
    margin-bottom: 20px;
  }

  /* css center */
  .center {
  float: left;
  width: 54%;
  margin: 0 3%;
  }

/* css footer */
footer
{
  height: 200px;
  margin-top: 10px;
  color: #504741;
}
.credits {

  text-align: center;
  padding-bottom: 5px;
  border-bottom: solid 2px #504741;
}
.icon-box {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.fab {
  font-size: 250%;
  padding: 0 50px;
  color: #504741;
}
