/* css generale */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/wood.jpg");
  font-family: 'Raleway', sans-serif;
}
main{
  padding: 1% 15%;
}
/* css header */
    /* css title */
  .title-box {
    height: 200px;
    position: relative;
    background-image: url("../img/forest.jpg");
    background-position: center;
    border: 5px solid white;}

  .layover {
        position: absolute;
          height: 100%;
          width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

  .title {
      color: white;
      font-size: 20px;
      position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
  }
  .title h1 {
    text-align: center;
  }
  .title h3 {
    font-weight: 300;
  }
  /* css navbar */
  nav{
    background-color: #504741;
    height: 40px;
    margin-bottom: 10px;

  }
  ul {
    width: 100%;
    text-align: center;
    line-height: 40px;
    }

  nav li {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    border-left: inset 2px black;
    border-right: inset 2px black;
  }

  nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }


]

/* css footer */
footer{
  height: 200px;
  margin-top: 10px;
  /* debug */
  background-color: white;
}

.main-box::after{
  content: "";
  display: table;
  clear: both;
}

aside {
  float: left;
  width: 30%;
}

.side-l{
  /* debug */
  height: 400px;
  background-color: white;
}

.side-r section {
  /* debug */
  height: 280px;
  background-color: white;
  margin-bottom: 20px;
}

.center {
float: left;
width: 34%;
margin: 0 3%;
/* debug */
background-color: white;
height: 600px;
}
